<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>Todo List</h1>
    <%- include("./partials/nav.ejs") %>
    <div class="main-container">
      <div class="todo-card">
        <ul class="todo-list">
            <% for(let i = 0; i < todos.length; i++) { %>
            <a href="/todos/<%= todos[i]._id %>"><%= todos[i].title %></a>
            <p><%= todos[i].description %></p>
            <h3><%= todos[i].isComplete ? "Completed" : "Not Complete" %></h3>
            <div class="buttons">
              <a href="/todos/<%= i %>/edit"><button>Edit</button></a>
              <form action="/todos/<%= i %>/?_method=DELETE" method="post">
                <button>Delete</button>
              </form>
            </div>
            <% } %>
          </ul>
      </div>
    </div>
  </body>
</html>
